--
-- PostgreSQL database dump
--

\restrict rVKAIygGIuluH5RaTJxPL1818xhrZCCmyFHgWfDydoXyOhXbjWn3ealBLsovsuZ

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id bigint NOT NULL,
    action character varying(50) NOT NULL,
    actor character varying(255),
    diff jsonb,
    created_at timestamp with time zone
);


ALTER TABLE public.audit_logs OWNER TO artuser;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO artuser;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.cart_items (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    variant_id bigint,
    quantity bigint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.cart_items OWNER TO artuser;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.cart_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_items_id_seq OWNER TO artuser;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: carts; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.carts (
    id bigint NOT NULL,
    session_token character varying(255) NOT NULL,
    user_id bigint,
    expires_at timestamp with time zone,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.carts OWNER TO artuser;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.carts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.carts_id_seq OWNER TO artuser;

--
-- Name: carts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.carts_id_seq OWNED BY public.carts.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    description text,
    parent_id bigint,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.categories OWNER TO artuser;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO artuser;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: discount_codes; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.discount_codes (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    type character varying(20) NOT NULL,
    value numeric(10,2) NOT NULL,
    min_purchase numeric(10,2),
    max_uses bigint,
    used_count bigint DEFAULT 0 NOT NULL,
    starts_at timestamp with time zone,
    expires_at timestamp with time zone,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.discount_codes OWNER TO artuser;

--
-- Name: discount_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.discount_codes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.discount_codes_id_seq OWNER TO artuser;

--
-- Name: discount_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.discount_codes_id_seq OWNED BY public.discount_codes.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    type character varying(50) NOT NULL,
    severity character varying(20) DEFAULT 'info'::character varying NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    payload jsonb,
    read_at timestamp with time zone,
    created_at timestamp with time zone
);


ALTER TABLE public.notifications OWNER TO artuser;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO artuser;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.order_items (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint,
    variant_id bigint,
    product_name character varying(500) NOT NULL,
    variant_name character varying(255),
    sku character varying(100),
    quantity bigint DEFAULT 1 NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.order_items OWNER TO artuser;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO artuser;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    order_number character varying(50) NOT NULL,
    user_id bigint,
    customer_email character varying(255) NOT NULL,
    customer_name character varying(255) NOT NULL,
    subtotal numeric(10,2) DEFAULT 0 NOT NULL,
    tax numeric(10,2) DEFAULT 0 NOT NULL,
    discount numeric(10,2) DEFAULT 0 NOT NULL,
    total numeric(10,2) DEFAULT 0 NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying NOT NULL,
    payment_status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    payment_intent_id character varying(255),
    payment_method character varying(50),
    fulfillment_status character varying(20) DEFAULT 'unfulfilled'::character varying NOT NULL,
    shipping_address jsonb,
    billing_address jsonb,
    notes text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.orders OWNER TO artuser;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO artuser;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: personaggi; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.personaggi (
    id bigint NOT NULL,
    name text NOT NULL,
    description text,
    icon text,
    images jsonb,
    background_color text DEFAULT '#E0E7FF'::text,
    background_type text DEFAULT 'solid'::text,
    gradient_from text,
    gradient_to text,
    "order" bigint DEFAULT 0,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.personaggi OWNER TO artuser;

--
-- Name: personaggi_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.personaggi_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personaggi_id_seq OWNER TO artuser;

--
-- Name: personaggi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.personaggi_id_seq OWNED BY public.personaggi.id;


--
-- Name: product_categories; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.product_categories (
    enhanced_product_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.product_categories OWNER TO artuser;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.product_images (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    url character varying(1000) NOT NULL,
    alt_text character varying(500),
    "position" bigint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.product_images OWNER TO artuser;

--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.product_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_images_id_seq OWNER TO artuser;

--
-- Name: product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.product_images_id_seq OWNED BY public.product_images.id;


--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.product_variants (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    sku character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    attributes jsonb,
    price_adjustment numeric(10,2) DEFAULT 0,
    stock bigint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.product_variants OWNER TO artuser;

--
-- Name: product_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.product_variants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_variants_id_seq OWNER TO artuser;

--
-- Name: product_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.product_variants_id_seq OWNED BY public.product_variants.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    slug character varying(255) NOT NULL,
    title character varying(500) NOT NULL,
    short_description character varying(1000),
    long_description text,
    base_price numeric(10,2) DEFAULT 0 NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying NOT NULL,
    sku character varying(100),
    gtin character varying(50),
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.products OWNER TO artuser;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO artuser;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: shopify_links; Type: TABLE; Schema: public; Owner: artuser
--

CREATE TABLE public.shopify_links (
    id bigint NOT NULL,
    local_id bigint NOT NULL,
    shopify_id character varying(255) NOT NULL,
    entity_type character varying(50) NOT NULL,
    synced_at timestamp with time zone,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.shopify_links OWNER TO artuser;

--
-- Name: shopify_links_id_seq; Type: SEQUENCE; Schema: public; Owner: artuser
--

CREATE SEQUENCE public.shopify_links_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shopify_links_id_seq OWNER TO artuser;

--
-- Name: shopify_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: artuser
--

ALTER SEQUENCE public.shopify_links_id_seq OWNED BY public.shopify_links.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: carts id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.carts ALTER COLUMN id SET DEFAULT nextval('public.carts_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: discount_codes id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.discount_codes ALTER COLUMN id SET DEFAULT nextval('public.discount_codes_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: personaggi id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.personaggi ALTER COLUMN id SET DEFAULT nextval('public.personaggi_id_seq'::regclass);


--
-- Name: product_images id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_images ALTER COLUMN id SET DEFAULT nextval('public.product_images_id_seq'::regclass);


--
-- Name: product_variants id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_variants ALTER COLUMN id SET DEFAULT nextval('public.product_variants_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: shopify_links id; Type: DEFAULT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.shopify_links ALTER COLUMN id SET DEFAULT nextval('public.shopify_links_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.audit_logs (id, entity_type, entity_id, action, actor, diff, created_at) FROM stdin;
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.cart_items (id, cart_id, product_id, variant_id, quantity, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.carts (id, session_token, user_id, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.categories (id, name, slug, description, parent_id, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: discount_codes; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.discount_codes (id, code, type, value, min_purchase, max_uses, used_count, starts_at, expires_at, active, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.notifications (id, type, severity, title, message, payload, read_at, created_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.order_items (id, order_id, product_id, variant_id, product_name, variant_name, sku, quantity, unit_price, total_price, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.orders (id, order_number, user_id, customer_email, customer_name, subtotal, tax, discount, total, currency, payment_status, payment_intent_id, payment_method, fulfillment_status, shipping_address, billing_address, notes, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: personaggi; Type: TABLE DATA; Schema: public; Owner: artuser
--



--
-- Data for Name: product_categories; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.product_categories (enhanced_product_id, category_id) FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.product_images (id, product_id, url, alt_text, "position", created_at) FROM stdin;
\.


--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.product_variants (id, product_id, sku, name, attributes, price_adjustment, stock, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.products (id, slug, title, short_description, long_description, base_price, currency, sku, gtin, status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: shopify_links; Type: TABLE DATA; Schema: public; Owner: artuser
--

COPY public.shopify_links (id, local_id, shopify_id, entity_type, synced_at, created_at, updated_at) FROM stdin;
\.


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 1, false);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.carts_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: discount_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.discount_codes_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.order_items_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, false);


--
-- Name: personaggi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.personaggi_id_seq', 4, true);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.product_images_id_seq', 1, false);


--
-- Name: product_variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.product_variants_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: shopify_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: artuser
--

SELECT pg_catalog.setval('public.shopify_links_id_seq', 1, false);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: discount_codes discount_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.discount_codes
    ADD CONSTRAINT discount_codes_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: personaggi personaggi_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.personaggi
    ADD CONSTRAINT personaggi_pkey PRIMARY KEY (id);


--
-- Name: product_categories product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT product_categories_pkey PRIMARY KEY (enhanced_product_id, category_id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: shopify_links shopify_links_pkey; Type: CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.shopify_links
    ADD CONSTRAINT shopify_links_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_audit_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_actor; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_audit_logs_actor ON public.audit_logs USING btree (actor);


--
-- Name: idx_cart_items_cart_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_cart_items_cart_id ON public.cart_items USING btree (cart_id);


--
-- Name: idx_cart_items_product_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_cart_items_product_id ON public.cart_items USING btree (product_id);


--
-- Name: idx_cart_items_variant_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_cart_items_variant_id ON public.cart_items USING btree (variant_id);


--
-- Name: idx_carts_session_token; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_carts_session_token ON public.carts USING btree (session_token);


--
-- Name: idx_categories_deleted_at; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_categories_deleted_at ON public.categories USING btree (deleted_at);


--
-- Name: idx_categories_slug; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_categories_slug ON public.categories USING btree (slug);


--
-- Name: idx_discount_codes_code; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_discount_codes_code ON public.discount_codes USING btree (code);


--
-- Name: idx_discount_codes_deleted_at; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_discount_codes_deleted_at ON public.discount_codes USING btree (deleted_at);


--
-- Name: idx_notifications_severity; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_notifications_severity ON public.notifications USING btree (severity);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: idx_order_items_product_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_order_items_product_id ON public.order_items USING btree (product_id);


--
-- Name: idx_order_items_variant_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_order_items_variant_id ON public.order_items USING btree (variant_id);


--
-- Name: idx_orders_deleted_at; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_orders_deleted_at ON public.orders USING btree (deleted_at);


--
-- Name: idx_orders_order_number; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_orders_order_number ON public.orders USING btree (order_number);


--
-- Name: idx_personaggi_deleted_at; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_personaggi_deleted_at ON public.personaggi USING btree (deleted_at);


--
-- Name: idx_product_images_product_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_product_images_product_id ON public.product_images USING btree (product_id);


--
-- Name: idx_product_variants_deleted_at; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_product_variants_deleted_at ON public.product_variants USING btree (deleted_at);


--
-- Name: idx_product_variants_product_id; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_product_variants_product_id ON public.product_variants USING btree (product_id);


--
-- Name: idx_product_variants_sku; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_product_variants_sku ON public.product_variants USING btree (sku);


--
-- Name: idx_products_deleted_at; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_products_deleted_at ON public.products USING btree (deleted_at);


--
-- Name: idx_products_sku; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_products_sku ON public.products USING btree (sku);


--
-- Name: idx_products_slug; Type: INDEX; Schema: public; Owner: artuser
--

CREATE UNIQUE INDEX idx_products_slug ON public.products USING btree (slug);


--
-- Name: idx_shopify_local; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_shopify_local ON public.shopify_links USING btree (local_id, entity_type);


--
-- Name: idx_shopify_remote; Type: INDEX; Schema: public; Owner: artuser
--

CREATE INDEX idx_shopify_remote ON public.shopify_links USING btree (shopify_id);


--
-- Name: cart_items fk_cart_items_product; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fk_cart_items_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: cart_items fk_cart_items_variant; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fk_cart_items_variant FOREIGN KEY (variant_id) REFERENCES public.product_variants(id);


--
-- Name: cart_items fk_carts_items; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fk_carts_items FOREIGN KEY (cart_id) REFERENCES public.carts(id);


--
-- Name: categories fk_categories_children; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT fk_categories_children FOREIGN KEY (parent_id) REFERENCES public.categories(id);


--
-- Name: order_items fk_orders_items; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_orders_items FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: product_categories fk_product_categories_category; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT fk_product_categories_category FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: product_categories fk_product_categories_enhanced_product; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT fk_product_categories_enhanced_product FOREIGN KEY (enhanced_product_id) REFERENCES public.products(id);


--
-- Name: product_images fk_products_images; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT fk_products_images FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: product_variants fk_products_variants; Type: FK CONSTRAINT; Schema: public; Owner: artuser
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT fk_products_variants FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- PostgreSQL database dump complete
--

\unrestrict rVKAIygGIuluH5RaTJxPL1818xhrZCCmyFHgWfDydoXyOhXbjWn3ealBLsovsuZ

